<!DOCTYPE HTML>
<html lang="{{@site.locale}}">
  <head>
    <title>{{meta_title}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{asset "css/main.css"}}" />
    <link rel="stylesheet" href="{{asset "css/fontawesome.css"}}" />
    {{ghost_head}}
  </head>
  <body class="is-preload {{body_class}}">

    <!-- Wrapper -->
    <div id="wrapper" style="background-image: url('{{@site.cover_image}}');">

      <!-- Header -->
      {{> header}}

      <!-- Menu -->
      {{> menu}}

      <!-- Main -->
      <div id="main" style="margin-top: 460px">
        {{{body}}}
      </div>

      {{#is "index"}}
      <!-- Sidebar -->
      {{> sidebar }}
      {{/is}}

    </div>

    <!-- Scripts -->
    <script src="{{asset "js/jquery.min.js"}}"></script>
    <script src="{{asset "js/browser.min.js"}}"></script>
    <script src="{{asset "js/breakpoints.min.js"}}"></script>
    <script src="{{asset "js/util.js"}}"></script>
    <script src="{{asset "js/main.js"}}"></script>
    {{ghost_foot}}
  </body>
</html>
